APP_VERSION=0.0.1

APP_LOG_LEVEL=DEBUG
LOG_FILE_BACKUP_COUNT=10
LOGFILE_PATH=/home/etdadm/logs/etd
# if set to true, file logging will be turned off
CONSOLE_LOGGING_ONLY=false 

CONSUME_QUEUE_NAME=etd_submission_ready
PUBLISH_QUEUE_NAME=etd_in_storage
BROKER_URL=""

PRIVATE_KEY_PATH=

JAEGER_NAME="http://localhost:4317"
JAEGER_SERVICE_NAME=ETD

DASH_TESTING_URL="https://dspace6-qai.lib.harvard.edu/rest/test"

dropboxServer=''
dropboxUser=''
dspaceHost=''
dashHost=''

jobMonitor='https://jobmon-dev.lib.harvard.edu'
adminMailTo='michael.vandermillen@harvard.edu'
adminMailFrom='michael.vandermillen@harvard.edu'

HEARTBEAT_FILE=/tmp/worker_heartbeat
READINESS_FILE=/tmp/worker_ready
HEALTHCHECK_UPDATE_INTERVAL=15.0
HEARTBEAT_WINDOW=60
